body {
    background-image: url("../assets/background.jpeg");
    font-family: "Montserrat",
        sans-serif;
}

.container1 {
    width: 101.2%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #034c5f;
    background-color: #c1e2e8;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
}

.item1 {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title1 {
    text-decoration: none;
    color: #034c5f;
    font-weight: bold;
}

.fa-house {
    margin-left: 20px;
    color: #034c5f;
}

.title1-1 {
    border-right: 1px solid #034c5f;
    display: inline-block;
    width: 170px;
}

.fa-user {
    margin-left: 25px;
    color: #034c5f;
}

.title1-2 {
    border-right: 1px solid #034c5f;
    display: inline-block;
    width: 200px;
}

.fa-right-to-bracket {
    margin-left: 15px;
    color: #034c5f;
}

.title1-3 {
    margin-left: 10px;
    width: 160px;
}

.item2 {
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shoppingcart {
    text-decoration: none;
    color: #034c5f;
    font-weight: bold;
    margin-right: 40px;
}

.container2 {
    width: 101.2%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #c1e2e8;
    position: fixed;
    top: 31px;
    left: 0px;
    z-index: 3;
}

.websitelogo {
    width: 100px;
    margin-left: 50px;
}

.searchbar {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
}

input {
    font-size: 25px;
    border-radius: 30px;
    width: 80%;
    border: 2px solid #034c5f;
}

.search {
    background-color: #ee6457;
    border: 1px solid #ee6457;
    width: 5%;
    height: 40px;
    border-radius: 30px;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
}

.search:hover {
    background-color: #f9c4ba;
    border: 1px solid #f9c4ba;
}

.tab1 {
    width: 101.2%;
    height: 25px;
    position: fixed;
    top: 101px;
    left: 0px;
    background-color: #ee6457;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 3;
}

.tab1 div {
    height: 100%;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab1 a {
    color: white;
    text-decoration: none;
}

.tab1 div:hover {
    border-bottom: 3px solid white;
}

.tab2 {
    width: 101.2%;
    height: 25px;
    position: fixed;
    top: 126px;
    left: 0px;
    background-color: #034c5f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 3;
}

.tab2 div {
    height: 100%;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab2 a {
    color: white;
    text-decoration: none;
}

.tab2 div:hover {
    border-bottom: 3px solid white;
}

.footer {
    width: 101.2%;
    height: 501px;
    background-color: #034c5f;
    margin-bottom: -10px;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.footer1 {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #97bec6;
}

.smallfooter1 {
    width: 60%;
    height: 150px;
}

.smallfooter2 {
    width: 40%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footerform {
    font-size: 20px;
    margin-left: 40px;
    color: white;
    margin-top: 10px;
}

.footerinput {
    width: 60%;
    height: 50px;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 30px;
}

.footerbutton {
    background-color: #ee6457;
    border: 1px solid #ee6457;
    width: 10%;
    height: 60px;
    border-radius: 30px;
    color: white;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}

.footericon {
    font-size: 60px;
    color: white;
    margin-right: 25px;
}

.footerheading {
    color: white;
    margin-right: 25px;
}

.footer2 {
    width: 100%;
    height: 350px;
    display: flex;
}

.smallfooter4 {
    width: 34%;
    height: 350px;
}

.sf4items {
    color: white;
    margin-left: 60px;
}

.item4-1 {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.item4-2 {
    color: #ee6457;
    font-size: 50px;
    font-weight: bold;
    margin-left: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item4-3 {
    font-size: 20px;
}

.item4-4 {
    font-size: 20px;
    text-decoration: none;
}

.smallfooter5 {
    width: 33%;
    height: 350px;
}

.sf5items {
    color: white;
    margin-left: 100px;
}

.item5-1 {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.item5-2 {
    font-size: 20px;
    text-decoration: none;
}

.footerlogo {
    width: 250px;
    margin-left: 100px;
    margin-top: 40px;
}

.smallfooter6 {
    width: 33%;
    height: 350px;
}

.sf6items {
    color: white;
    margin-left: 40px;
}

.item6-1 {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.item6-2 {
    font-size: 20px;
    text-decoration: none;
}

.footerbutton:hover {
    background-color: #f9c4ba;
    border: 1px solid #f9c4ba;
}

.footericon:hover {
    color: #f9c4ba;
}

.item4-4:hover {
    color: #f9c4ba;
}

.item5-2:hover {
    color: #f9c4ba;
}

.item5-3:hover {
    color: #f9c4ba;
}

.item5-4:hover {
    color: #f9c4ba;
}

.item6-2:hover {
    color: #f9c4ba;
}

.item6-3:hover {
    color: #f9c4ba;
}

.item6-4:hover {
    color: #f9c4ba;
}

.message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 80px;
    border-radius: 70px;
    background-color: #ee6457;
    color: white;
    font-size: 30px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    overflow: hidden;
    box-shadow: 0px 0px 10px 5px rgb(179, 179, 179);
}

.message:hover {
    width: 400px;
    height: 600px;
    background-color: white;
    font-size: 0px;
    border: 5px solid #034c5f;
}

.fa-message {
    margin-top: 30px;
}

.messagebox2 {
    width: 90%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.messageimg {
    width: 40%;
}

.messagetext1 {
    color: #034c5f;
    font-size: 20px;
    margin-top: 20px;
}

.messageform {
    margin-top: 320px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.messageinput {
    border-radius: 30px;
    border: 1px solid #034c5f;
    font-size: 35px;
    width: 75%;
}

.sendmessage1 {
    width: 70px;
    height: 40px;
    background-color: #ee6457;
    border-radius: 30px;
    border: 1px solid #ee6457;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.sendmessage1:hover {
    background-color: #f9c4ba;
    border: 1px solid #f9c4ba;
}

.container3 {
    width: auto;
    height: 30px;
    margin-top: 151px;
    font-size: 25px;
    color: #034c5f;
    display: inline-block;
}

.categories {
    width: 20%;
    height: 1450px;
    background-color: #fff1ed;
    border-right: 5px solid #034c5f;
    border-top: 5px solid #034c5f;
    border-bottom: 5px solid #034c5f;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    position: absolute;
    top: 190px;
    left: -300px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.container3:hover~.categories {
    left: 0;
}

.categories:hover {
    left: 0;
}

.option {
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    color: #034c5f;
}

.cssoption {
    display: flex;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 10px;
    color: #034c5f;
}

.checkbox {
    width: 20px;
    cursor: pointer;
}

.summit {
    width: 150px;
    height: 50px;
    background-color: #ee6457;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ee6457;
    border-radius: 30px;
    margin-left: 70px;
    margin-top: 30px;
}

.searchtext {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.summit:hover {
    background-color: #f9c4ba;
    border: 1px solid #f9c4ba;
}

.brand {
    display: block;
    margin-left: 60px;
    text-decoration: none;
    color: #034c5f;
    margin-top: 10px;
    font-size: 20px;
}

.brand:hover {
    color: white;
}

.container4 {
    width: 100%;
    height: 700px;
    margin-top: 20px;
    display: flex;
    border-bottom: 1px dashed #034c5f;
}

.image {
    width: 45%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageitem1 {
    width: 60%;
    height: 450px;
    border: 5px solid #034c5f;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    margin-left: 100px;
    background-color: white;
    box-shadow: 10px 10px 15px rgb(179, 179, 179);
}

.imageitem2 {
    width: 100%;
}

.discount1 {
    width: 70px;
    height: 70px;
    background-color: #ee6457;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: -380px;
    margin-top: -30px;
}

.imageitem3 {
    width: 60%;
    height: 120px;
    background-color: white;
    border: 5px solid #034c5f;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 15px rgb(179, 179, 179);
}

.imageitem4 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.heart1 {
    color: #ee6457;
    font-size: 20px;
    margin-right: 5px;
}

.like {
    width: 150px;
    font-size: 20px;
    border-right: 1px solid #034c5f;
    color: #034c5f;
}

.sell {
    font-size: 20px;
    margin-left: 30px;
    color: #034c5f;
}

.imageitem5 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.star1 {
    color: #ee6457;
    margin-left: 5px;
}

.rating {
    font-size: 20px;
    color: #034c5f;
    margin-left: 20px;
    border-left: 1px solid #034c5f;
    width: 180px;
    text-align: center;
}

.information {
    width: 45%;
    height: 600px;
    background-color: white;
    border: 5px solid #034c5f;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 10px 10px 15px rgb(179, 179, 179);
}

.informationitem1 {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
    color: #034c5f;
    margin-top: 20px;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}

.heart3 {
    margin-left: 150px;
    cursor: pointer;
}

.heart3:hover {
    color: #ee6457;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 25%;
    margin-top: 20px;
}

.logotext {
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    color: #027a98;
}

.logoitem {
    width: 40px;
}

.logotext1 {
    margin-left: 10px;
}

.instock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 25%;
}

.instocktext1 {
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    color: #027a98;
}

.instockitem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: green;
    width: 20px;
    height: 20px;
}

.fa-check {
    color: white;
    font-size: 10px;
}

.instocktext2 {
    margin-left: 10px;
}

.price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 25%;
}

.pricetext1 {
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    color: #027a98;
}

.pricetext2 {
    text-decoration: line-through;
    margin-left: 20px;
}

.informationitem2 {
    width: 100%;
    height: 45%;
    display: flex;
    margin-top: 40px;
}

.informationitem2-box1 {
    width: 180px;
    height: 100%;
    margin-left: 20px;
    color: #027a98;
    font-size: 20px;
}

.informationitem2-box2 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.countform {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #034c5f;
}

.countitems {
    font-size: 30px;
    border-radius: 10px;
    width: 20%;
    border: 1px solid #97bec6;
    text-align: center;
    display: inline-block;
    color: #034c5f;
}

.counttext {
    margin-left: 10px;
}

.informationitem3 {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.addtocart {
    height: 100%;
    width: 200px;
    border: 3px solid #034c5f;
    border-radius: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #034c5f;
    text-decoration: none;
    font-size: 17px;
    margin-left: 100px;
}

.addtocart:hover {
    background-color: #97bec6;
}

.purchase {
    height: 100%;
    width: 150px;
    border: 3px solid #ee6457;
    border-radius: 40px;
    background-color: #ee6457;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 80px;
}

.purchase:hover {
    background-color: #f9c4ba;
    border: 3px solid #f9c4ba;
}

.container5 {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.otherimage {
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.otherimage1 {
    width: 35%;
    height: 100px
}

.otherimage2 {
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 50px;
    color: #034c5f;
}

.otherimage1 div {
    width: 100%;
    height: 50%;
    border-bottom: 5px solid #034c5f;
}

.smallcontainer5 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px dashed #034c5f;
    margin-top: 25px;
}

.otherimageitem {
    width: 20%;
    height: 400px;
    background-color: white;
    border-radius: 50px;
    border: 5px solid #034c5f;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 15px rgb(179, 179, 179);
}

.smallcontainer5 img {
    width: 80%;
    border-radius: 30px;
}

.container6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productdetail {
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.productdetail1 {
    width: 30%;
    height: 100px
}

.productdetail2 {
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 50px;
    color: #034c5f;
}

.productdetail1 div {
    width: 100%;
    height: 50%;
    border-bottom: 5px solid #034c5f;
}

.smallcontainer6 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    border-bottom: 1px dashed #034c5f;
    margin-top: 50px;
    padding-bottom: 50px;
}

.boxcontainer6-1 {
    width: 30%;
    border: 5px solid #034c5f;
    font-size: 20px;
    text-align: justify;
    background-color: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 15px rgb(179, 179, 179);
}

.boxcontainer6-2 {
    width: 50%;
    border: 5px solid #034c5f;
    font-size: 20px;
    text-align: justify;
    background-color: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 15px rgb(179, 179, 179);
}

.safetycare {
    font-weight: bold;
    font-size: 30px;
    height: 60px;
    width: 100%;
    color: #034c5f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.safetycare1 {
    height: 0px;
    width: 90%;
    color: #034c5f;
    overflow: hidden;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.safetycare:hover~.safetycare1 {
    height: 400px;
}

.safetycare1:hover {
    height: 400px;
}

.return {
    font-weight: bold;
    font-size: 30px;
    height: 60px;
    width: 100%;
    color: #034c5f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.return1 {
    height: 0px;
    width: 90%;
    color: #034c5f;
    overflow: hidden;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.return:hover~.return1 {
    height: 1500px;
}

.return1:hover {
    height: 1500px;
}

.container7 {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border-bottom: 1px dashed #034c5f;
}

.commentandrate {
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.commentandrate1 {
    width: 30%;
    height: 100px
}

.commentandrate2 {
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 50px;
    color: #034c5f;
}

.commentandrate1 div {
    width: 100%;
    height: 50%;
    border-bottom: 5px solid #034c5f;
}

.smallcontainer7 {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.comment {
    width: 90%;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 5px solid #034c5f;
    border-radius: 80px;
    box-shadow: 10px 10px 15px rgb(179, 179, 179);
}

.avatar {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid #034c5f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.avataricon {
    margin-left: 0px;
}

.commentitems {
    width: 75%;
    height: 85%;
    margin-left: 30px;
    border-left: 1px solid #034c5f;
    border-right: 1px solid #034c5f;
}

.commenters1 {
    display: inline-block;
    margin-left: 20px;
    color: #034c5f;
    font-size: 17px;
    font-weight: bold;
}

.commenters2 {
    display: inline-block;
    color: #034c5f;
    font-size: 17px;
    margin-left: 20px;
}

.commenters3 {
    margin-left: 20px;
    color: #034c5f;
    font-size: 17px;
}

.commenters4 {
    margin-left: 40px;
    color: #034c5f;
    font-size: 20px;
}

.commentitems1 {
    width: 10%;
    height: 85%;
    margin-left: 40px;
    color: #ee6457;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star2 {
    margin-left: 10px;
    font-size: 40px;
    margin-top: 10px;
}

.writecomments {
    width: 90%;
    height: 150px;
    background-color: white;
    border: 5px solid #034c5f;
    border-radius: 40px;
    box-shadow: 10px 10px 15px rgb(179, 179, 179);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ratingstars {
    font-size: 25px;
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.ratingstarsbox {
    display: inline-block;
}

.fivestarbox {
    color: #034c5f;
    cursor: pointer;
}

.fourstarbox {
    color: #034c5f;
    position: absolute;
    cursor: pointer;
}

.threestarbox {
    color: #034c5f;
    position: absolute;
    cursor: pointer;
}

.twostarbox {
    color: #034c5f;
    position: absolute;
    cursor: pointer;
}

.onestarbox {
    color: #034c5f;
    position: absolute;
    cursor: pointer;
}

.fivestarbox:hover {
    color: #ee6457;
}

.fivestarbox:hover~.fourstarbox {
    color: #ee6457;
}

.fivestarbox:hover~.threestarbox {
    color: #ee6457;
}

.fivestarbox:hover~.twostarbox {
    color: #ee6457;
}

.fivestarbox:hover~.onestarbox {
    color: #ee6457;
}

.fourstarbox:hover {
    color: #ee6457;
}

.fourstarbox:hover~.threestarbox {
    color: #ee6457;
}

.fourstarbox:hover~.twostarbox {
    color: #ee6457;
}

.fourstarbox:hover~.onestarbox {
    color: #ee6457;
}

.threestarbox:hover {
    color: #ee6457;
}

.threestarbox:hover~.twostarbox {
    color: #ee6457;
}

.threestarbox:hover~.onestarbox {
    color: #ee6457;
}

.twostarbox:hover {
    color: #ee6457;
}

.twostarbox:hover~.onestarbox {
    color: #ee6457;
}

.onestarbox:hover {
    color: #ee6457;
}

.commentinputform {
    margin-left: 50px;
    margin-top: 20px;
    width: 100%;
}

.commentinput {
    width: 83%;
    height: 55px;
}

.commentbutton {
    background-color: #ee6457;
    border: 1px solid #ee6457;
    width: 8%;
    height: 60px;
    border-radius: 30px;
    color: white;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    margin-left: 20px;
}

.commentbutton:hover {
    background-color: #f9c4ba;
    border: 1px solid #f9c4ba;
}

.container8 {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.sale {
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.sale1 {
    width: 40%;
    height: 100px
}

.sale2 {
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 50px;
    color: #034c5f;
}

.sale1 div {
    width: 100%;
    height: 50%;
    border-bottom: 5px solid #034c5f;
}

.smallcontainer8 {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px dashed #034c5f;
}

.product {
    width: 290px;
    height: 430px;
    border: 6px solid #034c5f;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 15px #97bec6;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.line1 {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discount {
    width: 60px;
    height: 60px;
    background-color: #ee6457;
    border-radius: 50%;
    margin-top: -50px;
    margin-left: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.heart2 {
    margin-right: 15px;
    font-size: 200%;
    color: #60a3b1;
    cursor: pointer;
}

.line2 {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.saleimg1 {
    width: 70%;
}

.line3 {
    width: 100%;
    height: 10%;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4%;
}

.line4 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #034c5f;
}

.newprice {
    color: #034c5f;
    font-weight: bold;
    font-size: 17px;
}

.oldprice {
    color: #034c5f;
    text-decoration: line-through;
}

.line5 {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.button1 {
    width: 30%;
    height: 80%;
    border: 2px solid #034c5f;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: white;
}

.button1icon {
    color: #034c5f;
    font-size: 25px;
}

.button2 {
    width: 50%;
    height: 80%;
    border: 2px solid #ee6457;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #ee6457;
    color: white;
    text-decoration: none;
    font-size: 120%;
}

.fa-heart:hover {
    color: #ee6457;
}

.button1:hover {
    background-color: #97bec6;
}

.button2:hover {
    background-color: #f9c4ba;
    border: 2px solid #f9c4ba;
}

.product:hover {
    width: 297px;
    height: 437px;
}